$header-font: "Centurion";
$body-font: "Proxima Nova";

body {
    min-height: 100vh;
    font-family: $body-font !important;
    section {
        overflow: hidden !important;
        padding-bottom: 30px;
        header {
            h2 {
                font-family: $header-font;
                font-size: 35px;
                text-align: center;
                margin-bottom: 25px;
            }
        }
    }
}
