.yellow-btn {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 27px;
    border: 1px solid;
    border-color: #d3ac38;
    color: #d3ac38;
    background-color: transparent;
    font-weight: 500;
    &:hover {
        background-color: #d3ac38;
        color: white;
    }
    &:focus {
        background-color: #d3ac38;
        color: white;
    }
}
