@font-face {
    font-family: 'Centurion';
    src: url('/assets/fonts/Centurion.otf');
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/ProximaNova/OTF/ProximaNova-Regular.otf');
}