@media (min-width: 992px) {
    .navbar-nav {
        display: flex !important;
        .nav-item {
            &.active {
                background-color: rgba($color: #fff, $alpha: 0.15);
            }
        }
    }

    .hamburger {
        display: none !important;
    }

    .navbar-socialmedia-btns {
        display: none !important;
    }
}

nav {
    background-color: #d3ad37;
    padding: 0 !important;
    position: relative;
    height: 10vh;
    font-family: "Proxima Nova";
    &.show {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        .hamburger {
            position: absolute !important;
            top: 15px !important;
            right: 12px !important;
        }
        .navbar-brand {
            top: 12.5px;
        }
        .navbar-nav {
            margin: 0 !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .navbar-brand {
        position: absolute;
        top: 20%;
    }
    .navbar-nav {
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 0;
        height: 10vh;
        display: none;
        .nav-item {
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            align-items: center;
            background-color: transparent;
            .nav-link {
                color: white;
            }
            .language-dropdown {
                position: absolute;
                right: 0;
                .btn {
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.hamburger {
    display: inline-block;
    margin-left: auto;
}

.navbar-socialmedia-btns {
    display: flex !important;
    position: absolute;
    bottom: 50px;
    list-style: none;
    padding-left: 12px !important;
    li {
        margin-right: 15px;
        a {
            font-size: 2em;
            color: white;
            text-decoration: none;
        }
    }
}
